[submodule "spmv/Benchmark_SpMV_using_CSR5"]
	path = spmv/Benchmark_SpMV_using_CSR5
	url = https://github.com/weifengliu-ssslab/Benchmark_SpMV_using_CSR5.git
[submodule "intelligent-unroll"]
	path = intelligent-unroll
	url = https://github.com/buaa-hipo/intelligent-unroll.git
[submodule "pagerank/conflict_free"]
	path = pagerank/conflict_free
	url = https://github.com/jiangohiostate/cgo2018_artifact.git
[submodule "page_rank/conflict_free"]
	path = page_rank/conflict_free
	url = https://github.com/jiangohiostate/cgo2018_artifact.git
